<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
	">

	<!-- email有关配置 -->

	<!-- 配置异步发送器 -->

	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">

		<property name="corePoolSize" value="10" />

		<property name="maxPoolSize" value="30" />

	</bean>

	<!-- 配置邮件模板相关信息 -->

	<bean id="freemarkerConfiguration"
		class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">

		<property name="templateLoaderPath" value="classpath:/com/mcp/service/mail" />

	</bean>

	<!-- 配置spring的javamail -->

	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">

		<!-- smtp地址 -->

		<property name="host" value="smtp.gmail.com"></property>

		<!-- 端口 -->

		<property name="port" value="465"></property>

		<!-- 邮件发送地址 -->

		<property name="username" value="admin@geelou.com"></property>

		<!-- 发送密码 -->

		<property name="password" value="aaaaaa"></property>

		<!-- 发送时使用的字符集 -->

		<property name="defaultEncoding" value="UTF-8"></property>

		<!-- javaMail相关参数设置 -->

		<property name="javaMailProperties">

			<props>

				<!-- 发送模式 debug -->

				<prop key="mail.debug">true</prop>

				<!-- 指定ssl -->

				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>

				<!-- 是否需要auth认证 -->

				<prop key="mail.smtp.auth">true</prop>

			</props>

		</property>

	</bean>

</beans>